<div class="p-md-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Provide your credentials</h1>
    </div>

    <form class="user" action="authenticate" method="post">
        <div class="form-group">
            <input type="email" class="form-control form-control-user" placeholder="Login (admin@example.com)" name="login">
        </div>
        <div class="form-group">
            <input type="password" class="form-control form-control-user" placeholder="Password (admin)" name="password">
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox small">
                <input type="checkbox" class="custom-control-input" name="rememberMe" id="rememberMe">
                <label class="custom-control-label" for="rememberMe">Get me logged!</label>
            </div>
        </div>
        <input type="hidden" name="ReturnUrl" value="${ReturnUrl}"/>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Login
        </button>
    </form>
</div>
