<div class="p-md-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Provide your credentials</h1>
    </div>

    <form class="user" action="${Action}" method="post">
        <input type="hidden" name="email" value="${Email}">
        <input type="hidden" name="token" value="${Token}">
        <div class="form-group">
            <input type="password" class="form-control form-control-user" placeholder="Password" name="password">
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Reset Password
        </button>
    </form>
</div>
